* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(169, 100%, 36%);
    font-family: 'Red Hat Display', sans-serif;
    overflow: auto;

}

.main-body {
    max-width: 500px;
    padding: 0 20px;
    margin: 100px auto;
}

.card {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
}

.card .top {
    height: 100px;
    background-color: rgb(22, 160, 133);
    border-radius: 5px 5px 0 0;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card form {
    padding: 30px 25px 25px 25px;
}

.card form .inputs {
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}

.card form .inputs input {
    height: 100%;
    width: 100%;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid rgb(211, 211, 211);
    font-size: 16px;
    transition: all 0.3s ease;
}

form .inputs input:focus {
    border-color: rgb(22, 160, 133);
    box-shadow: inset 0px 0px 2px 2px rgba(26, 188, 156, 0.25)
}

form .inputs input::placeholder {
    color: rgb(0, 0, 0);
}

.card form .inputs i {
    position: absolute;
    width: 47px;
    height: 100%;
    color: rgb(255, 255, 255);
    font-size: 18px;
    background: rgb(22, 160, 133);
    border: 1px solid rgb(22, 160, 133);
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card form .security {
    margin: -8px 0 20px 0;
    padding: 5PX 0;
}

.card form .security a {
    font-size: 17px;
    color: rgb(22, 160, 133);
    text-decoration: none;
}

.card form .security a:hover {
    text-decoration: underline;
}


.card form .button input {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: rgb(22, 160, 133);
    border: 1px solid rgb(22, 160, 133);
    cursor: pointer;
    width: 400px;
    padding: 10px 30px;
    justify-content: center;
    text-align: center;
    border-radius: 5px;

}

form .button input:hover {
    background: rgb(18, 135, 111);
}

.card form .signup-link {
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
}

.card form .signup-link a {
    color: rgb(22, 160, 133);
    text-decoration: none;
}

form .signup-link a:hover {
    text-decoration: underline;
}

.main-body:hover {
    transform: scale(1.1);
}